<div class="content " id="geoInformationArea">
    <div class="row">
        <div class="col-lg-12" id="geoInformationClient">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Activity Map
                </div>
                <div class="panel-body">
                    <!-- TODO -->
                    <div id="geoInformationMap" class="col-xs-10">

                    </div>
                    <div id="geoInformationType" class="col-xs-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked="checked"> Client Registration
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>