<!-- Libraries: Local -->
<script type="text/javascript"  data-main="js/main" src="js/main.min.js"></script>
<script type="text/javascript" src="js/libs/jquery/jquery-2.2.3.js"></script>
<script type="text/javascript" src="js/libs/tablesorter-master/jquery.tablesorter.combined.min.js"></script>
<script type="text/javascript" src="js/libs/tablesorter-master/jquery.tablesorter.pager.js"></script>
<script type="text/javascript" src="js/libs/jquery/jquery.color.min.js"></script>
<script type="text/javascript" src="js/libs/jquery/jquery.flot.min.js"></script>
<script type="text/javascript" src="js/libs/jquery/jquery.flot.pie.min.js"></script>
<script type="text/javascript" src="js/libs/jquery/jquery.flot.tooltip.min.js"></script>
<script type="text/javascript" src="js/libs/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="js/libs/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="js/libs/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="mCustomScrollBar/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="CountryPicker/jquery.flagstrap.min.js"></script>
<script type="text/javascript" src="js/excelexportjs.min.js"></script>
<script type="text/javascript" src="js/jquery.blockUI.js"></script>
<script type="text/javascript" src="js/intlTelInput.js"></script>
<script type="text/javascript" src="js/date.min.js"></script>
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="js/libs/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/bootstrap-formhelpers.min.js"></script>
<script type="text/javascript" src="js/jquery.currencyInput.js"></script>
<script type="text/javascript" src="js/validation-marker.min.js"></script>
<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="js/libs/excel/tableexport.min.js"></script>
<script type="text/javascript" src="js/libs/excel/FileSaver.min.js"></script>
<script type="text/javascript" src="js/libs/jquery-cropit/jquery.cropit.js"></script>

<!-- Libraries: Remote -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>

<!-- Custom Scripts: Model -->
<!-- Production -->
<!-- <script src="js/app/model/AbstractList.min.js"></script>
<script src="js/app/model/ClientList.min.js"></script>
<script src="js/app/model/GroupList.min.js"></script>
<script src="js/app/model/OfficerList.min.js"></script>
<script src="js/app/model/LoanList.min.js"></script>
<script src="js/app/model/SavingsAccountList.min.js"></script>
<script src="js/app/model/AccountList.min.js"></script>
<script src="js/app/model/ShareList.min.js"></script>
<script src="js/app/model/RolesList.min.js"></script>
<script src="js/app/model/BalanceSheet.min.js"></script>
<script src="js/app/LoanHandler.min.js"></script>
<script src="js/app/GroupHandler.js"></script>
<script src="js/app/ClientHandler.min.js"></script>
<script src="js/app/SavingsAccountHandler.min.js"></script>
<script src="js/app/CommunicationHandler.min.js"></script>
<script src="js/app/ReportingHandler.min.js"></script>
<script src="js/app/AccountingHandler.min.js"></script>
<script src="js/app/ManagementHandler.min.js"></script>
<script src="js/app/ActionRequiredHandler.js"></script>
<script src="js/app/DashboardHandler.min.js"></script>
<script src="js/app/ShareHandler.min.js"></script>
<script src="js/app/Options.js"></script>
<script src="js/app/utilities.js"></script>
<script src="js/app/PermissionHandler.min.js"></script>
<script src="js/app/MenuHandler.min.js"></script>
<script src="js/app/SettingsHandler.min.js"></script>
<script src="js/app/RolesHandler.min.js"></script>
<script src="js/app/OfficeHandler.min.js"></script>
<script src="js/app/CountryHandler.min.js"></script>
<script src="js/app/OfficeHandler.min.js"></script>
<script src="js/app/CountryHandler.min.js"></script> -->

<!-- Development -->
<!-- Custom Scripts: Model -->
<script type="text/javascript" src="js/app/model/AbstractList.js"></script>
<script type="text/javascript" src="js/app/model/ClientList.js"></script>
<script type="text/javascript" src="js/app/model/GroupList.js"></script>
<script type="text/javascript" src="js/app/model/OfficerList.js"></script>
<script type="text/javascript" src="js/app/model/LoanList.js"></script>
<script type="text/javascript" src="js/app/model/SavingsAccountList.js"></script>
<script type="text/javascript" src="js/app/model/AccountList.js"></script>
<script type="text/javascript" src="js/app/model/ShareList.js"></script>
<script type="text/javascript" src="js/app/model/RolesList.js"></script>
<script type="text/javascript" src="js/app/model/BalanceSheet.js"></script>
<script type="text/javascript" src="js/app/model/ShareProductList.js"></script>

<!-- Custom Scripts: Controllers -->
<script type="text/javascript" src="js/app/LoanHandler.js"></script>
<script type="text/javascript" src="js/app/GroupHandler.js"></script>
<script type="text/javascript" src="js/app/ClientHandler.js"></script>
<script type="text/javascript" src="js/app/SavingsAccountHandler.js"></script>
<script type="text/javascript" src="js/app/CommunicationHandler.js"></script>
<script type="text/javascript" src="js/app/ReportingHandler.js"></script>
<script type="text/javascript" src="js/app/AccountingHandler.js"></script>
<script type="text/javascript" src="js/app/ManagementHandler.js"></script>
<script type="text/javascript" src="js/app/ActionRequiredHandler.js"></script>
<script type="text/javascript" src="js/app/DashboardHandler.js"></script>
<script type="text/javascript" src="js/app/ShareHandler.js"></script>
<script type="text/javascript" src="js/app/Options.js"></script>
<script type="text/javascript" src="js/app/utilities.js"></script>
<script type="text/javascript" src="js/app/PermissionHandler.js"></script>
<script type="text/javascript" src="js/app/MenuHandler.js"></script>
<script type="text/javascript" src="js/app/SettingsHandler.js"></script>
<script type="text/javascript" src="js/app/RolesHandler.js"></script>
<script type="text/javascript" src="js/app/OfficeHandler.js"></script>
<script type="text/javascript" src="js/app/CountryHandler.js"></script>
<script type="text/javascript" src="js/app/OfficeHandler.js"></script>
<script type="text/javascript" src="js/app/CountryHandler.js"></script>
<script type="text/javascript" src="js/app/TemplatesHandler.js"></script>
<script type="text/javascript" src="js/app/ProductsHandler.js"></script>

<!-- Custom Scripts: View Components -->
<script type="text/javascript" src="js/app/view/components/Collateral.js"></script>
<script type="text/javascript" src="js/app/view/components/CollateralImage.js"></script>
<script type="text/javascript" src="js/app/view/components/Guarantor.js"></script>

<!-- Custom Scripts: Main -->
<script type="text/javascript" src="js/app/initApp.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF36ekCP7r0bQmxeLgNmFr7qvfQ3UBTXc"></script>
