<div class="content " id="portfolioArea">
    <div class="row col-lg-12">

        <div  class="row col-lg-4"  id="portfolioReportTypeForm" >

            <div class="input-group">
                <div class="input-group-addon">Filter Report</div>
                <select class="form-control" id="loanReportType" style="float: left;">
                    <option value="number" selected="selected">By Number</option>
                    <option value="amount">By Amount</option>

                </select>

            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-lg-6" id="portfolio-loansBySex">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="header">  Loans by Gender </span>
                    <!-- Sharing -->
                    <div class="btn-group" role="group" aria-label="Share" style="float:right;" >

                        <!--                        <div class="btn-group " role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle btn btn-primary default pull-right " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Export
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="export" data-contentid="panel-body-loansBySex"  data-attr="pdf" >
                                        <span class="glyphicon glyphicon-export export_to_pdf"></span>
                                        PDF
                                    </a>
                                </li>
                            </ul>
                                                </div>-->
                    </div>
                </div>
                <div class="panel-body" id="panel-body-loansBySex">
                    <div class="chart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" id="portfolio-loansByAge">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <span class="header"> Loans by Age Group </span>
                    <!-- Sharing -->
                    <!--                    <div class="btn-group" role="group" aria-label="Share" style="float:right;" >
                    
                        <div class="btn-group " role="group">
                            <button type="button" class="btn btn-default dropdown-toggle btn btn-primary default pull-right " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Export
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="export" data-contentid="panel-body-loansByAge"  data-attr="pdf" >
                                        <span class="glyphicon glyphicon-export export_to_pdf"></span>
                                        PDF
                                    </a>
                                </li>

                            </ul>
                        </div>
                                        </div>-->
                </div>
                <div class="panel-body" id="panel-body-loansByAge">
                    <div class="chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" id="portfolio-loansBySector">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="header"> Loans by Employment Sector </span>
                    <!-- Sharing -->
                    <!--                    <div class="btn-group" role="group" aria-label="Share" style="float:right;" >
                                            <div class="btn-group " role="group">
                            <button type="button" class="btn btn-default dropdown-toggle btn btn-primary default pull-right " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Export
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="export" data-contentid="panel-body-loansBySector"  data-attr="pdf" >
                                        <span class="glyphicon glyphicon-export export_to_pdf"></span>
                                        PDF
                                    </a>
                                </li>
                            </ul>
                        </div>
                                        </div>-->
                </div>
                <div class="panel-body" id="panel-body-loansBySector">
                    <div class="chart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" id="portfolio-loansByHealth">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="header">Loans at Risk</span>
                    <!-- Sharing -->
                    <!--                    <div class="btn-group" role="group" aria-label="Share" style="float:right;" >
                                            <div class="btn-group " role="group">
                            <button type="button" class="btn btn-default dropdown-toggle btn btn-primary default pull-right " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Export
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="export" data-contentid="panel-body-loansByHealth"  data-attr="pdf" >
                                        <span class="glyphicon glyphicon-export export_to_pdf"></span>
                                        PDF
                                    </a>
                                </li>
                            </ul>
                        </div>
                                        </div>-->
                </div>
                <div class="panel-body" id="panel-body-loansByHealth" >
                    <div class="chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>