<div class="content" id="rolesContaner">
    <!-- Create Role -->
    <div class="content" id="add_role_page">
        <div class="modal"></div>
        <div class="row " id="Cclient">
            <form class="form-horizontal" id="createRolePage">

                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">New Role </div>
                        <div class="panel-body">


                            <div class="col-sm-3">

                            </div>

                            <div class="col-sm-9">


                                <!-- Role Name  --> 
                                <div class="form-group">
                                    <label for="roleName" class="col-lg-4 control-label"> Name : </label>
                                    <div class="col-lg-8">
                                        <input type="text" id="roleName" class="form-control" placeholder="Enter Role Name"  required   name="roleName" />
                                    </div>
                                </div>


                                <!-- Role Description   --> 
                                <div class="form-group">
                                    <label for="roleDescription" class="col-lg-4 control-label" > Description :  </label>
                                    <div class="col-lg-8">
                                        <textarea id="roleDescription" style="width: 100%;" required></textarea>
                                    </div>
                                </div>



                            </div>

                        </div>

                    </div>

                </div>
                <!-- submit -->
                <div class="panel-body"> 
                    <div class="row">
                        <div class="container-fluid" style="display: block" >
                            <button id="createUserButtom" type="submit"  class="btn btn-primary default pull-right" value="Submit" style="
                                    display: block;
                                    border-left-width: 43px;
                                    border-right-width: 43px;
                                    border-top-width: 12px;
                                    border-bottom-width: 12px;
                                    ">Submit</button>



                            <button id="backtoUsersButton" type="button"  class="btn btn-primary  pull-right" value="Submit" style="
                                    display: block;
                                    padding-left:  52px;
                                    padding-right:  52px;
                                    padding-top: 17px;
                                    padding-bottom: 17px;
                                    margin-right: 20px;

                                    ">Cancel</button>



                        </div>

                    </div>
                </div>

            </form>

        </div>

    </div>
</div>
