<div class="content" id="accountingContainer">
    <!-- gl account data -->
    <div class="content" id="glAccount">
        <div class="content" id="glAccountTransaction">
            <form class="form-horizontal" id="glAccountApplicationForm">
                <div class="panel panel-default" id="glAccountPanel">
                    <div class="panel-heading">GL Account Transaction</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-2">
                                <label class="control-label pull-right">Debit</label>
                            </div>
                            <div class="col-xs-10">
                                <div class="form-group" data-type="debit">
                                    <div class="col-xs-6">
                                        <select class="form-control" required>
                                            <option disabled selected value> -- select an option -- </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" placeholder="Value" required>
                                    </div>
                                    <div class="col-xs-1">
                                        <button type="button" class="btn btn-primary default pull-right">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-2">
                                <label class="control-label pull-right">Credit</label>
                            </div>
                            <div class="col-xs-10">
                                <div class="form-group" data-type="credit">
                                    <div class="col-xs-6">
                                        <select class="form-control" required>
                                            <option disabled selected value> -- select an option -- </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-5">
                                        <input type="text" class="form-control" placeholder="Value" required>
                                    </div>
                                    <div class="col-xs-1">
                                        <button type="button" class="btn btn-primary default pull-right">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- date picker -->
                        <div class="form-group"> <!-- taken from http://www.malot.fr/bootstrap-datetimepicker/ -->
                            <label class="col-xs-2 control-label">Transaction Date</label>
                            <div id="glAccountTransactionDatePicker" class="input-group date col-xs-10" data-date="" data-date-format="dd/M/yyyy" data-link-field="glAccountTransactionDate" data-link-format="dd/M/yyyy">
                                <input class="form-control" size="16" type="text" value="" required>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <input type="hidden" id="glAccountTransactionDate" value="">
                        </div>

                        <!-- comment -->
                        <div class="form-group">
                            <label for="accountingComment" class="col-xs-2 control-label">Comment</label>
                            <div class="col-xs-10">
                                <textarea class="form-control" rows="8" id="accountingComment"></textarea>
                            </div>
                        </div>

                        <!-- submit -->
                        <button type="submit" class="btn btn-primary default pull-right">Submit</button>
                    </div>

                </div>
            </form>
        </div>

        <!--                            <div class="row balance">
                                        <p class="col-lg-2" style="text-align: right;">Balance</p>
                                        <p class="col-lg-10 value">123</p>
                                    </div>-->

        <div class="content">
            <div class="table-responsive content standardTable" id="glAccountJournalTableContainer">
                <table class="table table-striped table-bordered tablesorter tablesorter-bootstrap">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- balance sheet -->
    <div class="content">
        <div class="table-responsive content standardTable" id="balanceSheetTableContainer">
            <table class="table table-striped table-bordered tablesorter tablesorter-bootstrap">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>