<div class="row content" id="helpOverview">
    <div class="col-lg-12">
        <div class="panel panel-default" id="contactPanel">
            <div class="panel-heading">Contact Message</div>
            <div class="panel-body">
                <form class="form-horizontal" id="helpMessageForm">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <div class="form-group inputGroupContainer">
                                <div class="input-group">                                
                                    <div class="input-group-addon">Name</div>
                                    <input type="text" data-type="string" minLength="1" class="form-control"  name="nameC" id="nameC" required>
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="form-group inputGroupContainer">
                                <div class="input-group">
                                    <div class="input-group-addon">Email</div>
                                    <input type="email" data-type="email" class="form-control"  name="emailC" id="emailC" required>
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group inputGroupContainer">
                                <div class="input-group">
                                    <div class="input-group-addon" style="padding:6px 8px;">Phone</div>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" id="phoneNumberCCountryBtn" data-toggle="dropdown" style="background-color:white;color:#464a4c; border-radius: 1px;">
                                            <img src="img/flags/ug.png" style="height: 20px;width: 20px"><span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right phoneCountryPickerList" id="phoneNumberCCountryList" role="menu">
                                        </ul>
                                    </div>
                                    <input type="text" data-type="phone" class="form-control"  name="phoneNumberC" id="phoneNumberC" countryCode="UG" required>
                                </div>
                                <p class="help-block"></p>
                            </div>
                            <div class="form-group inputGroupContainer">
                                <div class="input-group">
                                    <div class="input-group-addon">Subject</div>
                                    <select class="form-control" id="subjectC" name="subjectC">
                                        <option value="COCKPIT">Cockpit</option>
                                        <option value="MOBILE_OFFICE">Mobile Office</option>
                                        <option value="OTHER">Others</option>
                                    </select>
                                </div>
                                <p class="help-block"></p>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <div class="form-group inputGroupContainer">
                                <div class="input-group">
                                    <div class="input-group-addon">Message </div>
                                    <textarea class="form-control" rows="8"  name="messageC" id="messageC" required></textarea>
                                </div>
                                <p class="help-block"></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>        
        <div style="max-width: 1000px;">
            <button id="sendHelpMessageButtonId" type="submit"  class="btn customSubmitButton pull-right" value="Submit">
                <i class="mdl-color-text--white material-icons" role="presentation">send</i>
                Send
            </button>
        </div>
    </div>
</div>