<div class="content" id="mfi-products">
    <!-- Create Share Product  Template   -->
    <div class="content" id="createshareproduct_template_page">
        <div class="modal"></div>
        <div class="row " id="Cclient">
            <form class="form-horizontal" id="_createNewShareProduct">

                <div class="col-sm-12">
                    <!--Details-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Details </div>
                        <div class="panel-body">



                            <div class="col-sm-9">

                                <!-- Share Product Name    -->
                                <div class="form-group">
                                    <label for="share_product_name" class="col-lg-4 control-label"> Name *</label>
                                    <div class="col-lg-8">
                                        <input type="text" id="share_product_name"  class="form-control"  required/>
                                    </div>
                                </div>

                                <!--Share Product Short Name-->
                                <div class="form-group">
                                    <label for="share_product_shortname" class="col-lg-4 control-label"> Short Name *</label>
                                    <div class="col-lg-8">
                                        <input type="text" id="share_product_shortname"  maxlength="4" class="form-control"  required/>
                                    </div>
                                </div>

                                <!--Description-->
                                <div class="form-group">
                                    <label for="share_product_description" class="col-lg-4 control-label"> Description *</label>
                                    <div class="col-lg-8">
                                        <textarea   id="share_product_description"  class="form-control"  required></textarea>
                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-3">
                            </div>


                        </div>

                    </div>

                    <!--  Currency-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Currency </div>
                        <div class="panel-body">
                            <div class="col-sm-9">

                                <!-- Currency    -->
                                <div class="form-group">
                                    <label for="shareproductcurrency" class="col-lg-4 control-label">Currency *</label>
                                    <div class="col-lg-8">
                                        <select id="shareproductcurrency" class="form-control"  required>

                                        </select> 

                                    </div>
                                </div>


                                <!-- Multiples of     -->
                                <div class="form-group">
                                    <label for="shareproductmultiplesof" class="col-lg-4 control-label">Multiples of *</label>
                                    <div class="col-lg-8">
                                        <input type="number" id="shareproductmultiplesof" min="0"  class="form-control"  required/>
                                    </div>
                                </div>


                                <!-- Decimal Places     -->
                                <div class="form-group">
                                    <label for="shareproductdecimalplaces" class="col-lg-4 control-label">Decimal Places *</label>
                                    <div class="col-lg-8">
                                        <input type="number" id="shareproductdecimalplaces"  min="0"    class="form-control"  value="2"  maxlength="1"  required/>
                                    </div>
                                </div>



                            </div>

                            <div class="col-sm-3">
                            </div>
                        </div>

                    </div>

                    <!-- Terms-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Terms </div>
                        <div class="panel-body">
                            <div class="col-sm-9">

                                <!-- Total Number of Shares    -->
                                <div class="form-group">
                                    <label for="shareproducttotalnumberofshares" class="col-lg-4 control-label">Total Number of Shares  *</label>
                                    <div class="col-lg-8">
                                        <input type="number" min="0" id="shareproducttotalnumberofshares"  class="form-control"  required/>
                                    </div>
                                </div>


                                <!-- Shares to be Issued    -->
                                <div class="form-group">
                                    <label for="shareproductsharestobeissued" class="col-lg-4 control-label">Shares to be Issued *</label>
                                    <div class="col-lg-8">
                                        <input type="number" min="0" id="shareproductsharestobeissued"  class="form-control"  required/>
                                    </div>
                                </div>


                                <!-- Nominal Price     -->
                                <div class="form-group">
                                    <label for="shareproductnominalprice" class="col-lg-4 control-label">Nominal Price  *</label>
                                    <div class="col-lg-8">
                                        <input type="number" min="0" id="shareproductnominalprice"  class="form-control"  required/>
                                    </div>
                                </div>


                                <!-- Capital Value      -->
                                <div class="form-group">
                                    <label for="shareproductnorminalprice" class="col-lg-4 control-label">Nominal Price  </label>
                                    <div class="col-lg-8">
                                        { Nominal Price }
                                    </div>
                                </div>



                            </div>

                            <div class="col-sm-3">


                            </div>

                        </div>

                    </div>

                    <!-- Settings-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Settings </div>
                        <div class="panel-body">
                            <div class="col-sm-9">

                                <!-- Shares Per CLient    -->
                                <div class="form-group">
                                    <label   class="col-lg-4 control-label">Shares Per CLient *</label>
                                    <div class="col-lg-8">
                                        <div class="col-lg-4">
                                            <input placeholder="Minimum" min="0" type="number" id="shareproductsharesperclient_minimum"  class="form-control"  required/>
                                        </div>
                                        <div class="col-lg-4">
                                            <input placeholder="Default" min="0" type="number" id="shareproductsharesperclient_default"  class="form-control"  required/>
                                        </div>
                                        <div class="col-lg-4">
                                            <input  min="0" type="number" placeholder="Maximum"  id="shareproductsharesperclient_maximum"  class="form-control"  required/>
                                        </div>

                                    </div>
                                </div>


                                <!-- Minimum Active Period   -->
                                <div class="form-group">
                                    <label for="shareproductminimumactiveperiod" class="col-lg-4 control-label"> Minimum Active Period </label>
                                    <div class="col-lg-8">
                                        <div class="col-lg-4">
                                            <input type="number" min="0" id="shareproductminimumactiveperiod"  class="form-control"  />
                                        </div>

                                        <div class="col-lg-4">
                                            <select id="shareproductminimumactiveperiod_option" class="form-control"  >
                                                <option value=""> Select One </option>
                                                <option value="0"> Days </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <!-- Lockin Period    -->
                                <div class="form-group">
                                    <label for="shareproductlockinperiod" class="col-lg-4 control-label">Lock-in Period  </label>
                                    <div class="col-lg-8">
                                        <div class="col-lg-4">
                                            <input type="number" min="0" id="shareproductlockinperiod"  class="form-control"  />
                                        </div>

                                        <div class="col-lg-4">
                                            <select id="shareproductlockinperiod_option" class="form-control"  >
                                                <option value=""> Select One </option>
                                                <option value="0"> Days </option>
                                                <option value="1"> Weeks </option>
                                                <option value="2"> Months </option>
                                                <option value="3"> Years </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <!-- Allow Dividends     -->
                                <div class="form-group">
                                    <label for="shareproductallowdividends" class="col-lg-4 control-label">Allow dividends for inactive clients </label>
                                    <div class="col-lg-8">
                                        <input type="checkbox" id="shareproductallowdividends"    />
                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-3">

                            </div>

                        </div>

                    </div>
                    <!-- Market Price-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Market Price </div>
                        <div class="panel-body">


                            <div class="col-sm-9">
                                <!-- Shares Unit Price    -->
                                <div class="form-group">
                                    <label for="sharesMaketPrice" class="col-lg-4 control-label">Market Share Value *</label>
                                    <div class="col-lg-8">
                                        <input type="number" id="sharesMaketPrice" min="0"  class="form-control"  required/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                            </div>

                        </div>

                    </div>
                    <!-- Charges -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Charges </div>
                        <div class="panel-body">
                            <div class="col-sm-8">
                                {Not Yet Implemented}
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                    </div>

                    <!-- Accounting -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Accounting  </div>
                        <div class="panel-body">


                            <div class="col-sm-8">

                                <!-- Accounting  -->
                                <div class="form-group">
                                    <label for="template_type" class="col-lg-4 control-label">Select Template </label>
                                    <div class="col-lg-8">
                                        <div class="col-sm-3">
                                            <label>
                                                <input type="radio" class="shareproductaccountingRule" name="shareproductaccountingRule" value="1" checked="checked"/> None
                                            </label>
                                        </div>

                                        <div class="col-sm-3">
                                            <label>
                                                <input type="radio" class="shareproductaccountingRule" name="shareproductaccountingRule" value="2"/> Cash
                                            </label>
                                        </div>

                                    </div>
                                </div>


                            </div>

                            <div class="col-sm-3">
                            </div>


                        </div>



                        <div class="panel-body cash_level_accounting">


                            <div class="col-sm-8">
                                <strong>Assets</strong>
                                <div class="form-group">
                                    <label for="shares_reference" class="col-lg-4 control-label">Shares Reference </label>
                                    <div class="col-lg-8">
                                        <select id="shares_reference" class="shares_reference form-control" required="required">

                                        </select>
                                    </div>
                                </div>

                            </div>


                            <div class="col-sm-8">
                                <strong>Liabilities</strong>
                                <div class="form-group">
                                    <label for="shares_suspense_control" class="col-lg-4 control-label">Shares Suspense Control </label>
                                    <div class="col-lg-8">
                                        <select id="shares_suspense_control" class="shares_suspense_control form-control " required="required">

                                        </select>
                                    </div>
                                </div>

                            </div>


                            <div class="col-sm-8">
                                <strong>Share Equity</strong>
                                <div class="form-group">
                                    <label for="shares_equity" class="col-lg-4 control-label">Equity</label>
                                    <div class="col-lg-8">
                                        <select id="shares_equity" class="shares_equity form-control" required="required">

                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-8">
                                <strong>Income</strong>
                                <div class="form-group">
                                    <label for="income_from_fees" class="col-lg-4 control-label">Income from Fees</label>
                                    <div class="col-lg-8">
                                        <select id="income_from_fees"  class="income_from_fees form-control " required="required">
                                        </select>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>



                </div>
                <!-- submit -->
                <div >
                    <div>
                        <div style="display: block" >
                            <button id="submitShareProductbtn" type="submit"  class="btn btn-primary default pull-right" value="submitShareProduct" style="
                                    display: block;
                                    border-left-width: 43px;
                                    border-right-width: 43px;
                                    border-top-width: 12px;
                                    border-bottom-width: 12px;
                                    ">Submit</button>



                                    <button id="backtoShareProductsbtn" type="button"  class="btn btn-primary  pull-right" value="button" style="
                                            display: block;
                                    padding-left:  52px;
                                    padding-right:  52px;
                                    padding-top: 17px;
                                    padding-bottom: 17px;
                                    margin-right: 20px;

                                    ">Cancel</button>



                        </div>

                    </div>
                </div>

            </form>

        </div>

    </div>


</div> 