<div class="content" id="rolesContaner">
    <!-- Create Role -->
    <div class="content generalPanelForm" id="add_role_page">
        <div class="modal"></div>
        <div class="" id="Cclient">
            <form class="form-horizontal" id="createRolePage" novalidate>
                <div class="" style="padding: 1px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">New Role </div>
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <!-- Role Name  -->
                                <div class="form-group inputGroupContainer">
                                    <div class="input-group">
                                        <div class="input-group-addon">Name</div>
                                        <input type="text" id="roleName" data-type="string" minLength="3" maxLength="20" class="form-control" placeholder="Role Name"  required name="roleName" />
                                    </div>
                                    <p class="help-block"></p>
                                </div>
                                <!-- Role Description   -->
                                <div class="form-group inputGroupContainer">
                                    <div class="input-group">
                                        <div class="input-group-addon">Description</div>
                                        <textarea class="form-control" data-type="string" minLength="2" maxLength="100" id="roleDescription" required></textarea>
                                    </div>
                                    <p class="help-block"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- submit -->
                <div class="col-lg-12" style="padding: 1px; max-width: 1000px ">
                    <button id="_createRoleButtom" type="submit"  class="btn customSubmitButton pull-right" value="Submit" style="display: block;">
                        <i class="mdl-color-text--white material-icons" role="presentation">create</i>
                        Create
                    </button>

                    <button id="backtoRolesButton" type="button"  class="btn customCancelButton pull-right" value="Submit" style="display: block;">
                        <i class="mdl-color-text--white material-icons" role="presentation">cancel</i>
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>