<div class="content" id="userContainer">
    <!-- Create Client -->
    <div class="content" id="add_user_page">
        <div class="modal"></div>
        <div class="row " id="Cclient">
            <form class="form-horizontal" id="userCreationForm">



                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">New User</div>
                        <div class="panel-body">


                            <div class="col-sm-3">

                            </div>

                            <div class="col-sm-9">

                                <!-- Is User Staff  --> 
                                <div class="form-group">
                                    <label for="isUserStaff" class="col-lg-4 control-label">Create Staff : </label>
                                    <div class="col-lg-8">
                                        <input  id="isUserStaff" type="checkbox" checked /> 
                                    </div> 
                                </div>

                                <!-- User First Name --> 
                                <div class="form-group">
                                    <label for="userFirstName" class="col-lg-4 control-label">First Name : </label>
                                    <div class="col-lg-8">
                                        <input type="text" id="userFirstName" class="form-control" placeholder="Enter Firstname"   required   name="userFirstName" >
                                    </div>
                                </div>



                                <!-- User Last Name --> 
                                <div class="form-group">
                                    <label for="userLastName" class="col-lg-4 control-label">Last Name : </label>
                                    <div class="col-lg-8">
                                        <input type="text" id="userLastName" class="form-control" placeholder="lastname" required autocomplete="off">
                                    </div>
                                </div>

                                <!-- User ROles --> 
                                <div class="form-group">
                                    <label for="userRole" class="col-lg-4 control-label">Role :  </label>
                                    <div class="col-lg-8">
                                        <select id="userRole" class="form-control" required >
                                        </select>
                                    </div>
                                </div>



                                <!-- User Office --> 
                                <div class="form-group">
                                    <label for="userOffice" class="col-lg-4 control-label">Office :  </label>
                                    <div class="col-lg-8">
                                        <select id="userOffice" class="form-control" required>
                                            <option value=""> Select  Office </option>
                                            <option value="1"> Office One </option>
                                        </select>
                                    </div>
                                </div>


                                <!-- Auto Generate Username and Password   --> 
                                <div class="form-group">
                                    <label for="auto_generate_password" class="col-lg-4 control-label">Auto Generate Password : </label>
                                    <div class="col-lg-8">
                                        <input  id="auto_generate_password" type="checkbox"  /> 
                                    </div> 
                                </div>



                                <!-- User Email Address  --> 
                                <div class="form-group">
                                    <label for="userEmailAddress" class="col-lg-4 control-label">Email Address : </label>
                                    <div class="col-lg-8">
                                        <input type="email" id="userEmailAddress" class="form-control" placeholder="Enter Valid Email " >
                                    </div>
                                </div>





                                <!-- User Name   --> 
                                <div class="form-group username_panel">
                                    <label for="user_username" class="col-lg-4 control-label">User Name : </label>
                                    <div class="col-lg-8">
                                        <input required  type="text" id="user_username" class="form-control" placeholder="Enter User Name " >
                                    </div>
                                </div>


                                <!-- User Password   --> 
                                <div class="form-group userpassword_panel">
                                    <label for="user_password" class="col-lg-4 control-label">Password : </label>
                                    <div class="col-lg-8">
                                        <input required type="password" id="user_password" class="form-control" placeholder="Enter Password " >
                                    </div>
                                </div>

                                <!-- User  RE Password   --> 
                                <div class="form-group userpassword_panel">
                                    <label for="user_re_password" class="col-lg-4 control-label">Repeat Password : </label>
                                    <div class="col-lg-8">
                                        <input required type="password" id="user_re_password" class="form-control" placeholder="REpeat Password " >
                                    </div>
                                </div>








                            </div>

                        </div>

                    </div>

                </div>
                <!-- submit -->
                <div class="panel-body"> 
                    <div class="row">
                        <div class="container-fluid" style="display: block" >
                            <button id="createUserButtom" type="submit"  class="btn btn-primary default pull-right" value="Submit" style="
                                    display: block;
                                    border-left-width: 43px;
                                    border-right-width: 43px;
                                    border-top-width: 12px;
                                    border-bottom-width: 12px;
                                    ">Submit</button>



                            <button id="backtoUsersButton" type="button"  class="btn btn-primary  pull-right" value="Submit" style="
                                    display: block;
                                    padding-left:  52px;
                                    padding-right:  52px;
                                    padding-top: 17px;
                                    padding-bottom: 17px;
                                    margin-right: 20px;

                                    ">Cancel</button>



                        </div>

                    </div>
                </div>

            </form>

        </div>

    </div>
</div>